* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* banner styles */
.banner-container {
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-container img {
    height: 600px;
    width: 485px;
    margin-top: 50px 80px 50px 0;
}

.banner {
    margin-left: 100px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn {
    color: white;
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: none;
}

/*Features Card Styles */
.feature-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 24px;
}

.features {
    margin-top: 100px;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* border: 2px solid red; */
}

.card1 {
    height: 350px;
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 24px;
    text-align: center;
}

.card2 {
    height: 350px;
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
    text-align: center;
}

.card3 {
    height: 350px;
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;

}

.cards img {
    height: 300px;
    width: 200px;
    margin: 50px 50px 0 50px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.links a {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Hot sale styles */
.hot-sale-container {
    background: rgba(229, 84, 115, 0.10);
    height: 620px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-sale-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hot-sale-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hot-sale-container img {
    height: 400px;
    width: 300px;
}

.hot-sale {
    text-align: center;
    margin-left: 150px;
}

/* Instagram styles */

.insta {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.insta img {
    width: 250px;
    height: 300px;
    margin-right: 15px;
    margin-top: 50px;
}

.insta-pic {
    margin: 0 20px 0 20px;
}

/* Get hottest deal styles */
#get-deal {
    background-image: url("../images/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px 0 100px;
    margin-bottom: 100px;

}

.get-deal {
    text-align: center;

}

.get-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.get-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.deal-form input[type="email"] {
    width: 500px;
    padding: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.btn-subs {
    width: 150px;
    padding: 15px;
    background-color: #E55473;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
/* contact section styles */
.contact{
    background: rgba(229, 84, 115, 0.10);
    height: 60vh;
    text-align: center;
    width: 1050px;
    border:2px solid #141414;
    margin: 0 100px 0 100px;
    margin-bottom: 100px;
}
.contact-title{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 50px;
    margin-top: 30px;
}
form input{
    width: 400px;
    padding: 10px;
    font-size: 16px;
    color: #31303086;
    margin-bottom: 20px;
}
label{
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
}

 
/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
    height: 400px;
    text-align: center;
}

.footer-title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.849);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-cc {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;

}